PM_DECISION_USER=
PM_DECISION_PASSWORD=
PM_DECISION_BASE_URL=https://app.firstdecision.com.br/pmdecision
REPOSITORIES_ROOT=C:\Users\Wesley-\Documents\Repositorios\
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
